<section class="content components-content">

    <!-- ==========================
      SERVICES - START
    =========================== -->
    <section class="content services services-3x border-top border-bottom">
        <div class="container">
        <%= form_for @measurement, url: catalog_bras_path, method: :get do |f| %>
          <div class="row row-no-padding">
            <h2>Tour de dos</h2>
              <!-- SERVICE - START -->
                <div class="col-xs-12 col-sm-4">
                    <div class="service">
                        <i class="fa fa-magic"></i>
                        <h3>Comment mesurer ?</h3>
                        <p>Tenez vous bien droite. Positionez le mètre mesureur de façon parallèle au sol. Ne serrez pas trop fort: il faut que vous puissiez respirer confortablement et que le mètre s'enfonce légèrement dans votre peau.</p>
                    </div>
                </div>
                <!-- SERVICE - END -->

                <!-- SERVICE - START -->
                <div class="col-xs-12 col-sm-4">
                    <div class="service">
                      <img src="http://res.cloudinary.com/dl3nkexul/image/upload/c_scale,w_240/v1512321537/rib_cage_perimeter_be8yln.png">
                    </div>
                </div>
                <!-- SERVICE - END -->

                <!-- SERVICE - START -->
                <div class="col-xs-12 col-sm-4">
                    <div class="service">
                        <i class="fa fa-female"></i>
                        <h3>Votre mesure</h3>
                        <p><%= f.number_field :rib_cage_parameter %>cm
                        </p>
                    </div>
                </div>
                <!-- SERVICE - END -->

            </div>

            <div class="row row-no-padding">
            <h2>Tour de poitrine debout</h2>
              <!-- SERVICE - START -->
                <div class="col-xs-12 col-sm-4">
                    <div class="service">
                        <i class="fa fa-magic"></i>
                        <h3>Comment mesurer ?</h3>
                        <p>Tenez vous bien droite. Positionnez le mètre mesureur de façon parallèle au sol. Mesurez le perimètre de votre poitrine en passant par les papilles mammaires.</p>
                    </div>
                </div>
                <!-- SERVICE - END -->

                <!-- SERVICE - START -->
                <div class="col-xs-12 col-sm-4">
                    <div class="service">
                        <img src="http://res.cloudinary.com/dl3nkexul/image/upload/c_scale,w_240/v1512321537/brest_perimeter_qbb2gc.png">
                    </div>
                </div>
                <!-- SERVICE - END -->

                <!-- SERVICE - START -->
                <div class="col-xs-12 col-sm-4">
                    <div class="service">
                        <i class="fa fa-female"></i>
                        <h3>Votre mesure</h3>
                        <p><%= f.number_field :breast_cage_rest_perimeter %>cm</p>
                    </div>
                </div>
                <!-- SERVICE - END -->

            </div>

            <div class="row row-no-padding">
            <h2>Tour de poitrine à 90°</h2>
              <!-- SERVICE - START -->
                <div class="col-xs-12 col-sm-4">
                    <div class="service">
                        <i class="fa fa-magic"></i>
                        <h3>Comment mesurer ?</h3>
                        <p>Penchez vous en avant jursque ce que vos seins ne touchent plus votre poitrine et répétez la mesure du tour de potrine.</p>
                    </div>
                </div>
                <!-- SERVICE - END -->

                <!-- SERVICE - START -->
                <div class="col-xs-12 col-sm-4">
                    <div class="service">
                        <img src="http://res.cloudinary.com/dl3nkexul/image/upload/c_scale,w_240/v1512321572/brest_perimeter_lying_f3mneq.png">

                    </div>
                </div>
                <!-- SERVICE - END -->

                <!-- SERVICE - START -->
                <div class="col-xs-12 col-sm-4">
                    <div class="service">
                        <i class="fa fa-female"></i>
                        <h3>Votre mesure</h3>
                        <p> <%= f.number_field :breast_cage_bend_perimeter %>cm</p>
                    </div>
                </div>
                <!-- SERVICE - END -->

            </div>

            <div class="row row-no-padding">
            <h2>Forme du haut du sein</h2>
              <!-- SERVICE - START -->
                <div class="col-xs-12 col-sm-4">
                    <div class="service">
                        <i class="fa fa-magic"></i>
                        <h3>Comment mesurer ?</h3>
                        <p>Prennez vos seins dans vos mains de façon à les soutenir et choisissez la forme qui correspond le plus aux vôtres.</p>
                    </div>
                </div>
                <!-- SERVICE - END -->

                <!-- SERVICE - START -->
                <div class="col-xs-12 col-sm-4">
                    <div class="service">
                        <img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1512071858/upper_sahep_hsyzuz.jpg" class="img-responsive measure", style="margin-left:0px">
                    </div>
                </div>
                <!-- SERVICE - END -->

                <!-- SERVICE - START -->
                <div class="col-xs-12 col-sm-4">
                    <div class="service">
                        <i class="fa fa-female"></i>
                        <h3>Votre mesure</h3>
                        <p><%= f.select :breast_upper_shape, [1, 2, 3] %></p>
                    </div>
                </div>
                <!-- SERVICE - END -->

            </div>

            <div class="row row-no-padding">
            <h2>Forme basse du sein</h2>
              <!-- SERVICE - START -->
                <div class="col-xs-12 col-sm-4">
                    <div class="service">
                        <i class="fa fa-magic"></i>
                        <h3>Comment mesurer ?</h3>
                        <p>Prennez vos seins dans vos mains de façon à les soutenir et choisissez la forme qui correspond le plus aux vôtres.</p>
                    </div>
                </div>
                <!-- SERVICE - END -->

                <!-- SERVICE - START -->
                <div class="col-xs-12 col-sm-4">
                    <div class="service">
                        <img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1512071856/bottom_shape_oexlkh.jpg" class="img-responsive measure", style="margin-left:0px">

                    </div>
                </div>
                <!-- SERVICE - END -->

                <!-- SERVICE - START -->
                <div class="col-xs-12 col-sm-4">
                    <div class="service">
                        <i class="fa fa-female"></i>
                        <h3>Votre mesure</h3>
                        <p><%= f.select :breast_bottom_shape, [4, 5, 6] %></p>
                    </div>
                </div>
                <!-- SERVICE - END -->

            </div>

            <div class="row row-no-padding">
            <h2>Forme horizontale</h2>
              <!-- SERVICE - START -->
                <div class="col-xs-12 col-sm-4">
                    <div class="service">
                        <i class="fa fa-magic"></i>
                        <h3>Comment mesurer ?</h3>
                        <p>Prennez vos seins dans vos mains de façon à les soutenir et regardez quelle est la répartition, par rapport à la papille mammaire, qui correspond le plus à vos seins.</p>
                    </div>
                </div>
                <!-- SERVICE - END -->

                <!-- SERVICE - START -->
                <div class="col-xs-12 col-sm-4">
                    <div class="service">
                      <img src="http://res.cloudinary.com/dl3nkexul/image/upload/c_scale,w_174/v1512322155/breast_center_sdd9c1.png">
                    </div>
                </div>
                <!-- SERVICE - END -->

                <!-- SERVICE - START -->
                <div class="col-xs-12 col-sm-4">
                    <div class="service">
                        <i class="fa fa-female"></i>
                        <h3>Votre mesure</h3>
                        <p><%= f.select :breast_center_disposition, [1, 2, 3] %></p>
                    </div>
                </div>
                <!-- SERVICE - END -->

            </div>

            <div class="row row-no-padding">
            <h2>Séparation des seins</h2>
              <!-- SERVICE - START -->
                <div class="col-xs-12 col-sm-4">
                    <div class="service">
                        <i class="fa fa-magic"></i>
                        <h3>Comment mesurer ?</h3>
                        <p>Prennez vos seins dans vos mains de façon à les soutenir et regardez s'ils se touchent à la naissance de la poitrine.</p>
                    </div>
                </div>
                <!-- SERVICE - END -->

                <!-- SERVICE - START -->
                <div class="col-xs-12 col-sm-4">
                    <div class="service">

                            <img src="http://res.cloudinary.com/dl3nkexul/image/upload/c_scale,w_240/v1512321661/separation_boob_xtbksc.png">
                    </div>
                </div>
                <!-- SERVICE - END -->

                <!-- SERVICE - START -->
                <div class="col-xs-12 col-sm-4">
                    <div class="service">
                        <i class="fa fa-female"></i>
                        <h3>Votre mesure</h3>
                        <p><%= f.select :breast_separation, {"oui" => 1, "non" => 0} %></p>
                    </div>
                </div>
                <!-- SERVICE - END -->

            </div>

            <div class="row row-no-padding">
            <h2>Naissance des seins</h2>
              <!-- SERVICE - START -->
                <div class="col-xs-12 col-sm-4">
                    <div class="service">
                        <i class="fa fa-magic"></i>
                        <h3>Comment mesurer ?</h3>
                        <p>Tenez vous droite et regardez où s'arrête la racine de vos seins. S'ils s'étendent jusque sous l'aisselle - voys avez une large racine.</p>
                    </div>
                </div>
                <!-- SERVICE - END -->

                <!-- SERVICE - START -->
                <div class="col-xs-12 col-sm-4">
                    <div class="service">

                      <img src="http://res.cloudinary.com/dl3nkexul/image/upload/c_scale,w_240/v1512321537/root_boobs_dxbeqc.png">

                    </div>
                </div>
                <!-- SERVICE - END -->

                <!-- SERVICE - START -->
                <div class="col-xs-12 col-sm-4">
                    <div class="service">
                        <i class="fa fa-female"></i>
                        <h3>Votre mesure</h3>
                        <p><%= f.select :breast_roots, {"large" => 1, "étroite" => 0} %></p>
                    </div>
                </div>
                <!-- SERVICE - END -->
                </div>
        </div>
<div class="container measurement">
    <%= f.submit "Envoyer mes mesures", class: "measurement form-group btn btn-primary", style:"background-color:pink"%>
    </div>
    <% end %>
    </section>
    <!-- ==========================
      SERVICES - END
    =========================== -->
</section>
